<module>
	<rawname>callback</rawname>
	<name>Callback</name>
	<version>1.4.2</version>
	<type>setup</type>
	<category>Remote Access</category>
	<menuitems>
		<callback>Callback</callback>
	</menuitems>
	<changelog>
	*1.4.2* merge findmefollow/core extension destinations if any
	*1.4.1* Moved callback agi script from core to module
	*1.4.0* SQLite3 support, fixes ticket:1793 (only for freePBX 2.3)
	*1.3.1* Add he_IL translation
	*1.3* Fixed UI errors for new 2.2 look.
	*1.2* First 2.2 release
	</changelog>
	<info>http://aussievoip.com.au/wiki/freePBX-Callback</info>
	<location>release/2.3/callback-1.4.1.tgz</location>
	<md5sum>7d39bdb237d548652c7c3a4fc85c9762</md5sum>
</module>
