<module>
	<rawname>callback</rawname>
	<name>Callback</name>
	<version>1.2</version>
	<type>setup</type>
	<category>Remote Access</category>
	<menuitems>
		<callback>Callback</callback>
	</menuitems>
	<changelog>
	*1.2* First 2.2 release
	</changelog>
	<info>http://aussievoip.com.au/wiki/freePBX-Callback</info>
	<location>release/2.2/callback-1.2.tgz</location>
	<md5sum>594afd6f7bff5981f2e46f3700927ad4</md5sum>
</module>
